<div class="confirm-overlay" id="confirm-overlay">
    <h2 id="overlay-title"></h2>
    <a id="yes">
        <button>Yes</button>
    </a>
    <a href="/" id="no">
        <button>No</button>
    </a>
</div>
<div class="dark-overlay">
</div>