@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format('truetype');
    src: url("./fonts/Roboto-Light.ttf") format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 200;
}

:root {
    --main-color: #5CA612;
    --secondary-color: #E1F2D0;
    --special-color: #95BF6B;
    --light-color: #F2F2F2;
    --dark-color: #0D0D0D;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: color 250ms ease-in-out;

    &:hover {
        color: var(--special-color);
    }

    &.cto {
        padding: .5rem;
        background-color: var(--main-color);
    }
}

a.delete, a.btn {
    color: var(--dark-color);
    background-color: var(--main-color);
    border: 1px solid var(--light-color);
    border-radius: 5px;
    padding: .3rem .5rem;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--special-color);
    }
}

a.btn {
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.lock {
    height: 20vh;
    width: 20vw;
    display: block;
    margin: 1rem 0;
}

hr {
    border: 1px solid var(--special-color);
}

header {
    border-bottom: 1px solid var(--light-color);

    nav {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        font-size: 0.9rem;

        h4 {
            font-size: 2rem;
        }
    }

    ul {
        display: flex;
        padding: 0;
        justify-content: space-between;

        li {
            list-style-type: none;
            margin-right: 1rem;
        }

        li.cto {
            padding: .5rem;
            background-color: var(--main-color);
        }
    }
}

.confirm-overlay {
    display: none;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: var(--light-color);
    padding: 2rem;
    border: 1px solid var(--secondary-color);
    z-index: 999;

    &.show {
        display: block;
    }
}

.dark-overlay {
    display: none;
    position: absolute;
    /* top: 0;*/
    /* bottom: 0;*/
    right: 0;
    left: 0;
    background-color: rgba(50, 50, 50, .50);

    &.show {
        display: block;
    }
}

.container {
    padding: 2rem 10%;
    min-height: 80vh;

    h1 {
        margin-bottom: .5rem;
    }

    div {
        padding: .5rem;
        background-color: var(--secondary-color);

        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.3rem;

        &.message {
            border: 1px solid var(--light-color);
            border-radius: 3px;

            h3 {
                align-self: start;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            span {
                margin-bottom: .3rem;
            }
        }

        &.single-message {
            display: block;
            line-height: 1.5rem;
            margin-bottom: 30px;

            div {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }

            p {
                padding: 5px 10px;
            }
        }

        div {
            flex-direction: column;

            span {
                align-self: flex-start;
            }
        }
    }

    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin: auto;
        box-shadow: 5px 5px 5px var(--light-color);

        label {
            margin-bottom: 5px;
        }

        input[type="text"], input[type="email"], input[type="password"], textarea {
            margin-bottom: 1rem;
            line-height: 1.5rem;
            padding: 5px 15px;
            font-size: 1.1rem;
        }

        input[type="submit"] {
            padding: 15px;
            background-color: var(--main-color);
            border: none;
            transition: background-color 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}


ul.all-errors {
    color: coral;

    li {
        list-style-type: none;
        margin-bottom: 1rem;
    }
}

span.sign-up-link,
span.log-in-link {
    display: block;
    margin: 2rem auto;
    text-align: center;

    a {
        color: var(--main-color);
    }
}

.authorized {
    text-align: center;

    svg {
        margin: 2rem auto;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--main-color);
    padding: 1rem;

    ul {
        display: flex;
        padding: 0;

        li {
            margin-right: 1rem;
            list-style-type: none;
        }
    }
}
